.header-arrow {
    position: absolute;
    padding: 5px;
    top: 60px;
    text-align: center;
    background-color: var(--color-bg-brand);
    animation: fadeIn 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.header-arrow .Text {
    color: var(--color-bg-default);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

