.input-form{
    padding: 20px;
}

.input-form-btns{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.input-form-btn-clear{
    background-color: var(--color-bg-warning);
}

.input-form-btn-clear:hover{
    background-color: var(--color-typo-warning) !important;
}