.select-and-add {
    width: 100%;
    padding: 20px 10px;
}

.select-div {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.select-div-btn {
    margin-left: 8px;
    margin-top: 24px;
}

.input-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.input-div-btn {
    margin-left: 8px;
}

.hide {
    display: none;
}

.modal-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 200px;
}
